<div class="full-container yellow">

  <div class="content degustation-content">

    <h3>qui êtes-vous ?</h3>

    <%= simple_form_for(@degustation) do |f| %>
    <%= f.association :user, collection: User.all, prompt: "choisissez-vous dans la liste", label: false, input_html: {class: 'js-example-basic-single'} %>
    <%= f.submit "commencer à noter", class: "button button-fullwidth button-blue" %>

    <% end %>

  </div>



</div>

