/* -----  HOMEPAGE ----- */

.event-date-container {
  position: fixed;
  top: 12px;
  right: 12px;
  background: $yellow;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  z-index: 5;

  p {
    color: $dark-blue;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
  }

  .date {
    margin-bottom: 4px;
  }
}


.event-infos {
  position: fixed;
  top: 12px;
  right: 12px;
  background: $yellow;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  p {
    color: $dark-blue;
    font-size: 0.2rem;
    margin: 0;
    text-transform: uppercase;
  }

  &.show-infos {
    animation: showInfosCircle 0.3s linear 0s forwards;
  }

  &.hide-infos {
    animation: hideInfosCircle 0.3s linear 0s forwards;
  }

  &.show-infos p {
    font-size: 1rem;
    margin: 0.2 auto;
  }
}

.logo-title {
  font-size: 9.2rem;
  margin-bottom: 0;
  color: $dark-gray;
}

.tagline {
  font-size: 1.2rem;
  margin: 0 auto 0.4em;
  padding-left: 16px;
}

.event-description {
  margin-top: 4vh;
  p {
    color: $gray;
  }
}

.show-more-container {
  background: $dark-blue;
  border: 12px solid $dark-blue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 82px;
  border-radius: 32px 32px 0 0;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.show-cards {
  animation: slideup 1s linear 0s 1 forwards running;
  overflow-y: scroll;

  .wine-cards {
    animation: showCards 1s linear 0s 1 forwards running;
  }
}

.show-more {
  color: white;
}

@keyframes slideup {
  0% {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  100% {
    height: 74vh;
    align-items: center;
  }
}

@keyframes showCards {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

// animation for infos cicrle
@keyframes showInfosCircle {
  0% {
    top: 12px;
    right: 12px;
    width: 86px;
    height: 86px;
  }

  100% {
    top: 24px;
    right: 24px;
    width: 180px;
    height: 180px;
  }
}

// animation for infos cicrle
@keyframes hideInfosCircle {

  0% {
    top: 24px;
    right: 24px;
    width: 180px;
    height: 180px;
  }
  100% {
    top: 12px;
    right: 12px;
    width: 86px;
    height: 86px;
  }
}


@media screen and (min-width: 1024px) {
  .main-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .event-date-container {
    top: 24px;
    left: 24px;
    width: 88px;
    height: 88px;
  }

  .event-infos {
    top: 24px;
    left: 24px;
    width: 88px;
    height: 88px;

    .date,
    .hour {
      margin-bottom: 6px;
    }
  }

  .infos-content {
    padding: 6%;
  }

  .logo-title {
    font-size: 12.4rem;
  }

  .show-more-container {
    background: $dark-blue;
    border: 12px solid $dark-blue;
    position: relative;
    flex: 0 0 56%;
    height: 100vh;
    border-radius: 32px 0 0 32px;
    overflow: scroll;
  }

  // animation for infos cicrle
  @keyframes showInfosCircle {
    0% {
      top: 24px;
      left: 24px;
      width: 88px;
      height: 88px;
    }

    100% {
      top: 48px;
      left: 48px;
      width: 180px;
      height: 180px;
    }
  }

  // animation for infos cicrle
  @keyframes hideInfosCircle {

    0% {
      top: 48px;
      left: 48px;
      width: 180px;
      height: 180px;
    }

    100% {
      top: 24px;
      left: 24px;
      width: 88px;
      height: 88px;
    }
  }


}
