/* -----  BUTTONS ----- */


.button {
  display: block;
  font-family: $body-font;
  text-transform: uppercase;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  height: 38px;
  margin: 16px auto;
  transition: all 0.3s;
}

.button-fullwidth {
  width: 100%;
}


.button-yellow {
  color: $dark-gray !important;
  background: $yellow !important;

  &:hover {
    color: white !important;
    background: $medium-blue !important;
  }
}

.button-blue {
  color: white !important;
  background: $dark-blue !important;

  &:hover {
    color: white !important;
    background: $medium-blue !important;
  }
}
