/* -----  FORMS ----- */


.simple_form {
  select {
    width: 100%;
  }
}


.new_user_wine {
  width: 60%;
  margin: auto;

  select {
    background: white;
    height: 38px;
  }

  select:focus {
    outline: none;
    box-shadow: 0px 0px 6px rgba(245, 197, 74, 0.8);
  }

  option {
    border: 1px solid red;
  }
}

@media screen and (min-width: 1024px) {

  .new_user_wine {
    width: 40%;

    select {
      height: 44px;
    }
  }
}

