/* -----  WINE CARD ----- */


.wine-card {
  background: white;
  position: relative;
  border-radius: 12px;
  width: 92%;
  margin: 16px auto;
  padding: 12px;

  a {
    text-decoration: none;
  }

  .wine-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .wine-user {
    margin: 0;
    text-transform: uppercase;
    color: $light-gray;
    font-size: 1.2rem;
    margin-right: 8px;
  }

  .open-modal-btn {
    margin: 0;
    font-size: 1.2rem;
    transition: .3s;
  }

  .open-modal-btn:hover {
    cursor: pointer;
    color: $dark-blue;
  }

  .wine-user-link {
    margin: 0;
    text-transform: uppercase;
    color: $light-gray;
    font-size: 1.2rem;
    margin-right: 8px;
    font-family: $body-font;
    text-decoration: none;
  }

  .wine-name {
    margin-top: 6px;
    font-size: 1.8rem;
  }

  .wine-description {
    font-size: 1.2rem;
  }

  .wine-associations {
    font-size: 1.1rem;
  }

  .wine-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.surprise-wine-card {
  border: 3px solid white;
  border-radius: 12px;
  width: 92%;
  margin: 16px auto;
  padding: 16px;


  p {
    color: white;
  }

  .wine-description {
    font-family: $headers-font;
    width: 60%;
    margin-top: 0;
  }

  .open-modal-btn {
    margin: 0;
    font-size: 1.2rem;
    transition: 0.3s;
  }

  .open-modal-btn:hover {
    cursor: pointer;
    color: $light-gray;
  }
}


// tags

.wine-tags {
  display: flex;
  align-self: flex-end;
}

.wine-tag {
  background: rgba(245, 197, 74, 0.4);
  margin: 0 4px;
    padding: 4px;

  p {
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
    margin: 0;
  }
}

.noted-wine {
  position: relative;
  background: $white-gray;
  color: $dark-blue;
  padding: 6px 12px;
  margin: 24px 0;

  h4 {
    margin: 0;
  }

  .note {
    position: absolute;
    top: -24px;
    right: -12px;
    background: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    font-size:  1rem;
    font-family: $body-font;
  }
}

.not-noted-wine {
  margin-top: 24px;
  .white-title {
    color: white;
    font-size: 1.4rem;
  }
}


@media screen and (min-width: 1024px) {
  .wine-card {
    width: 76%;
  }

  .surprise-wine-card {
    width: 54%;

    margin-left: 12%;
    .wine-description {
      width: 80%;
    }
  }


}

